<h1 class="text-2xl font-bold">
  Welcome to the Playground
</h1>

<div class="my-4 grid w-28 gap-2">
  <button class="btn btn-primary" tabindex="0">Primary</button>
  <button class="btn btn-secondary" tabindex="0">Secondary</button>
</div>
