<h2 class="mt-4 text-xl font-bold">Buttons</h2>

<div class="mt-2 grid grid-cols-2 items-center gap-2">
  <div class="text-brand-primary">Primary</div>
  <.brand_button class="btn-brand-primary">Primary</.brand_button>

  <div class="text-brand-secondary">Secondary</div>
  <.brand_button class="btn-brand-secondary">Secondary</.brand_button>
</div>
