@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "components/buttons";

@layer base {
  :root {
    --theme-brand-primary: oklch(60% 0.1414 261.344);
    --theme-brand-secondary: oklch(60% 0.1382 0.68);
  }

  [data-theme="forest"] {
    --theme-brand-primary: oklch(60% 0.1723 151.28);
    --theme-brand-secondary: oklch(70% 0.2109 109.769);
  }
}

body {
  font-synthesis: none;
}
