@layer components {
  .btn {
    @apply rounded-md p-2 font-semibold text-white;
    @apply outline-2 outline-offset-1;
    @apply active:scale-95 motion-safe:transition-transform;

    background-color: oklch(from var(--btn-color) l c h);
    outline-color: oklch(from var(--btn-color) calc(l + ((1 - l) / 2)) c h);

    &:focus-visible {
      @apply outline;
    }

    &:hover {
      background-color: oklch(from var(--btn-color) calc(l - ((1 - l) / 4)) c h);
    }
  }

  .btn-brand-primary {
    --btn-color: var(--theme-brand-primary);
  }

  .btn-brand-secondary {
    --btn-color: var(--theme-brand-secondary);
  }
}
