@layer components {
  .btn {
    @apply rounded-md p-2 text-white outline-offset-1 transition active:scale-95;

    background-color: oklch(var(--btn-color) / var(--opacity, 1));
    outline-color: color-mix(in oklab, oklch(var(--btn-color) / var(--opacity, 1)) 50%, white);

    &:focus-visible {
      @apply outline-2;
    }

    &:hover {
      background-color: color-mix(
        in oklab,
        oklch(var(--btn-color) / var(--opacity, 1)) 90%,
        black
      );
    }
  }

  .btn-primary {
    --btn-color: var(--theme-primary-lch);
  }

  .btn-secondary {
    --btn-color: var(--theme-secondary-lch);
  }
}
